<div class='login'>
    <h1>PopQuizz</h1>
    <div class='form'>
        <mat-form-field>
            <input matInput type="username" placeholder="Username" required [(ngModel)]="enteredUsername">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" required [(ngModel)]="enteredPassword">
        </mat-form-field>
        <div *ngIf="errorMessage" class="mat-error">
            {{errorMessage}}
        </div>
        <div class='button'>
            <button
                mat-raised-button
                (click)="signUp()">Register
            </button>
            <button
                mat-raised-button
                color='primary'
                (click)="signIn()">Sign in
            </button>
         </div>
    </div>
</div>
