
.form {
    margin: auto;
    width: 30rem;
}

.btn-group {
    margin: auto;
    width: 30rem;
}

.form-input{
    display: block;
}

.btn-sign {
    float: right;
}

.btn {
    margin: 2rem;
    box-shadow: none;
}

.title {
    margin: 5rem 0;
    font-size: 5rem;
    color: #FF3366;
    text-align: center;
    font-family: Avenir-Black;
}
