.back {
    cursor: pointer;
    color: #FF3366;
    font-family: Avenir-Light;
}

.form-group{
    margin: auto;
    width: 30rem;
}

.form-input {
    display: block;
}

.btn {
    left: 50%;
    top: 2rem;
    box-shadow: none;
    position: absolute;
    transform: translate(-50%);
}

.popquizz {
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: #FF3366;
    font-size: 1.5rem;
    position: absolute;
    font-family: Avenir-Black;
}