<div style="padding: 1rem;">
    
    <a (click)="onBackClick()" class="back"> < Back </a>
    
    <div class="popquizz" routerLink="/home">
        PopQuizz
    </div>

    <form (ngSubmit)="onSubmit()" #changePassword="ngForm">
        <div class="form-group">
            <mat-form-field class="form-input">
                <input matInput required placeholder="Old Password" type="password" class="form-control"
                       [(ngModel)]="oldPassword" name="oldPassword"/><br>
            </mat-form-field>

            <mat-form-field class="form-input">
                <input required matInput placeholder="New Password" type="password" class="form-control"
                       [(ngModel)]="newPassword"
                       name="newPassword"/><br>
            </mat-form-field>

            <mat-form-field class="form-input">
                <input matInput required placeholder="Confirm Password" type="password" class="form-control"
                       [(ngModel)]="confirmPassword"
                       name="confirmPassword"/><br>
            </mat-form-field>
            <div *ngIf="errorMessage" class="mat-error">
                {{errorMessage}}
            </div>

            <div style="position: relative;">
                <button 
                    mat-raised-button 
                    color='primary' 
                    type="submit"
                    class="btn" 
                    [disabled]="!changePassword.form.valid">Change Password
                </button>
            </div>
        </div>
    </form>
</div>
