<div class="change-password">
    <div class="outsiders">
        <a (click)="onBackClick()"> < Back</a>
    </div>

    <form (ngSubmit)="onSubmit()" #changePassword="ngForm">
        <div class="form-group">
            <mat-form-field>
                <input matInput required placeholder="Old Password" type="password" class="form-control"
                       [(ngModel)]="oldPassword" name="oldPassword"/><br>
            </mat-form-field>

            <mat-form-field>
                <input required matInput placeholder="New Password" type="password" class="form-control"
                       [(ngModel)]="newPassword"
                       name="newPassword"/><br>
            </mat-form-field>

            <mat-form-field>
                <input matInput required placeholder="Confirm Password" type="password" class="form-control"
                       [(ngModel)]="confirmPassword"
                       name="confirmPassword"/><br>
            </mat-form-field>
            <div *ngIf="errorMessage" class="mat-error">
                {{errorMessage}}
            </div>
            <button mat-raised-button color='primary' type="submit" [disabled]="!changePassword.form.valid">Change Password
            </button>
        </div>
    </form>
    <div class="outsiders" routerLink="/home">
        PopQuizz
    </div>
</div>
