
<div style="padding: 1rem;">
    
    <a (click)="onBackClick()" class="back"> < Back</a>

    <div class="popquizz" routerLink="/home">
        PopQuizz
    </div>

    <div class='form'>

        <div class="profil-title">Profil</div>
        
        <mat-form-field class="form-input">
            <input matInput [value]="pseudo" disabled="true" type="text" class="pseudo"/>
        </mat-form-field>
        <mat-form-field class="form-input">
            <input matInput value="********" disabled="true" type="text" class="password"/>
        </mat-form-field>

        <div class="btn-group">
            <button
                class="btn"
                mat-raised-button
                routerLink="/change-password">Change Password
            </button>
            <button
                class="btn btn-disconnect"
                mat-raised-button
                (click)="onDisconnect()">Disconnect
            </button>
         </div>
    </div>
</div>

