.form {
    margin: auto;
    width: 30rem;
}

.profil-title {
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0;
    font-family: Avenir-Black;
}

.btn-group {
    margin: auto;
    width: 30rem;
}

.form-input{
    display: block;
}

.btn-disconnect {
    float: right;
    background: #6f0004;
}

.btn {
    margin: 2rem;
    box-shadow: none;
}

.back {
    cursor: pointer;
    color: #FF3366;
    font-family: Avenir-Light;
}

.popquizz {
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: #FF3366;
    font-size: 1.5rem;
    position: absolute;
    font-family: Avenir-Black;
}
