.form {
    margin: auto;
    width: 30rem;
}

.btn {
    left: 50%;
    top: 2rem;
    box-shadow: none;
    position: absolute;
    transform: translate(-50%);
}

.form-input {
    display: block;
}

.title {
    margin: 5rem 0;
    font-size: 5rem;
    color: #FF3366;
    text-align: center;
    font-family: Avenir-Black;
}

.back {
    cursor: pointer;
    color: #FF3366;
    font-family: Avenir-Light;
}

